.center {
    text-align: center;
}

.flex {
    display: flex;
}

.page_header {
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 30px;
    background-color: #000000;
    color: aliceblue;
    display: flex;
    height: 15%;
    padding: 10px;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
}

.page_footer {
    height: 10%;
    color: aliceblue;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tweet.php */
.logo {
    width: 40%;
    align-items: center;
}

.order {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.tweet_bg{
    background-image: url(../images/bg4.jpg);
    background-position: 50% 30%;
    background-size:cover;
}
/* start.php */
.title_page {
    width: 100vw;
    height: 100vh;
    /* 背景画像の初期値 */
    background-image: url(../images/bg5.jpg);
    background-position: 30% 30%;
    background-size: cover;
}

.app_title {
    /* color: aliceblue;
    font-size: 5ch;
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    padding-top: 2ch; */
    width: 100%;
    padding-top: 100px;
}

.start_button {
    padding-bottom: 0ch;
    font-size: 24px;
}

.start_button_2 {
    color: #000000;
    font-weight: bold;
}

/* .title_page {
    background-image: url('/images/walker_2.jpg');
    background-size: cover;
} */

/* index.php */

.page_header2 {
    background-color: #000000;
    opacity: 0.8;
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
}

.location_choices {
    position: absolute;
    top: 90px;
    left: 20px;
    z-index: 9999;
}

.location_choice {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.map_wrapper {
    position: relative;
}

/* map.php */
.map {
    height: 90%;
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    bottom: 5px;
    border: 0ch;
    width: 100%;
    display: flex;
    margin: 0;
    /* display: inline-block; */
    /* background: blue; */
    /* padding-bottom: 50px; */

}

.ques {
    font-size: 15px;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 9999;
}

.que {
    color: #000000;

}

iframe {
    /* filter: grayscale(1); */
    opacity: 0.8;
    vertical-align: bottom;
    width: 100%;
    height: 100vh;

}

/* question.php */
.bg {
    background-color: #000000;
}

.que_imgs {
    width: 100%;
    padding-bottom: 10px;
}

.map_like_flame {
    background-image: url(../images/flame.png );
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 99% 900px;
    width: 100%;
    padding: 20px;

}

.input_flame {
    border: 1px solid;
}

.send_button {
    border: 1px solid;
    background-color: rgb(190, 178, 178);
    opacity: 0.7;
}

/* .container {
	position: relative;
	width: 300px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.container::after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px 15px #FFF;
} */




.D {
    font-size: 1px;
    text-align: center;
    width: 100%;
    display: inline-block;
    background: bisque;
    opacity: 0.6;
    height: 17px;
    border: 1px solid;
    padding: 0px;
    cursor: pointer;
}

.E {
    display: none;
    /* background: bisque; */
    opacity: 0.6;
    /* height: 100px; */
}

#hint {
    display: none;
}

#hint.open {
    display: block;
}

/* goal.php */
.score {
    font-size: 150px;
    color: red;
}

.goal_title {
    font-size: 45px;
}
